'*':
  'advanced-open-file':
    fuzzyMatch: true
    helmDirSwitch: true
  core:
    disabledPackages: [
      'exception-reporting'
    ]
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: false
    telemetryConsent: 'no'
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
