'*':
  core:
    disabledPackages: [
      'exception-reporting'
    ]
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: false
    telemetryConsent: 'no'
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
